footer {
    display: flex;
    justify-content: center;
}

.footer-main-div {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    border-top: 1px solid #86baff;
}

.footer-column {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px 0px;
}

.footer-column>a {
    text-decoration: none;
    color: #e4e7eb;
    padding-top: 5px;
}

.footer-column>a:hover {
    text-decoration: none;
    color: #86baff;
}

.footer-title {
    font-size: larger;
    text-decoration: underline;
}